.product__tab-new{
    align-items: center;
}
.product__tab-new .nav-title{
    padding-right: 20px;
}
.product__tab-new .nav-title span{
    font-size:14px;
    color: #000;
    font-weight: 500;
}
.product__tab-new .az-home-row-product .az-title a{
    padding: 10px 20px;
    color: #000;
    border: 1px solid #ccc;
}
.product__tab-new .nav-item.show .nav-link,.product__tab-new .nav-link.active{
    background-color: #eb1c24 !important;
    color: #fff;
}
.woocommerce-pagination .page-numbers {
    display: flex !important;
    justify-content: center;
    list-style: none;
}
.az-overflow .progress {
    background-color: #ffbebe;
}
.progress .progress-bar{
    background-color: red;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #fff;
}
.nn-icon img {
    width: 8px !important;
    margin-bottom: 0;
    padding: 0;
    display: inline-block !important;
}
#menu-tu-khoa-tim-kiem li span{
    background: #3d8dc9;
    padding: 8px 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px 50px 50px 5px;
}

#menu-tu-khoa-tim-kiem li {
    display: inline-block;
    padding: 9px 3px;
}

#menu-tu-khoa-tim-kiem li a {
    font-size: 16px;
    background: #f0f0f0;
    padding: 8px 20px;
    border-radius: 5px;
    color: #3d8dc9;
    line-height: 24px;
}

@media (max-width: 500px) {
  .product__tab-new.filter_sort a.nav-link {
    font-size: 12px !important;
    padding: 5px !important;
  }
  .product__tab-new li.nav-item.nav-title span {
    display: none;
  }
}

