@charset "UTF-8";
h2 {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */
main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

@-webkit-keyframes fl-scale {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes fl-scale {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
@-webkit-keyframes scroll {
  0% {
    top: -100px;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}
@keyframes scroll {
  0% {
    top: -100px;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes pulse-blue {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(2, 143, 227, 0.7);
            box-shadow: 0 0 0 0 rgba(2, 143, 227, 0.7);
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(2, 143, 227, 0);
            box-shadow: 0 0 0 10px rgba(2, 143, 227, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(2, 143, 227, 0);
            box-shadow: 0 0 0 0 rgba(2, 143, 227, 0);
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@keyframes pulse-blue {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(2, 143, 227, 0.7);
            box-shadow: 0 0 0 0 rgba(2, 143, 227, 0.7);
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(2, 143, 227, 0);
            box-shadow: 0 0 0 10px rgba(2, 143, 227, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(2, 143, 227, 0);
            box-shadow: 0 0 0 0 rgba(2, 143, 227, 0);
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
:root {
  --red:red;
  --red-cl: #fecda5;
  --white-cl: #fff;
  --primary-cl: #ffd401;
  --red-d: #8a0505;
  --black-cl: #000;
  --gray-cl: #e1e1e1;
  --xanhnuocbien: #3d8dc9;
  --mauhong: #ffbebe;
}

.other-box {
  --red: pink;
  background-color: var(--red);
}

.bg_black {
  background-color: var(--black-cl);
}

.bg_blue {
  background-color: var(--xanhnuocbien);
}

.bg_red {
  background-color: var(--red-d);
}

.bg_primary {
  background-color: var(--xanhnuocbien);
}

.pd_12 {
  padding: 0px 12px;
}

.none {
  opacity: 0.6;
  background-color: #000;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 29;
}

.none {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  height: 64px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-position: 50% 0;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 10000000000000000000;
  opacity: 1;
}
header .box_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  position: relative;
}
header .box_header .logo {
  width: 10%;
  max-width: 10%;
  -webkit-box-flex: 10%;
      -ms-flex: 10% 10% 10%;
          flex: 10% 10% 10%;
}
header .box_header .logo img {
  width: 100%;
}
header .box_header .flex_center {
  width: 50%;
  max-width: 50%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .box_header .flex_center .box_category {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 5px;
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
header .box_header .flex_center .box_category i {
  padding-right: 5px;
  color: var(--white-cl);
}
header .box_header .flex_center .box_category span {
  font-size: 12px;
  color: var(--white-cl);
}
header .box_header .flex_center .box_category .category {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 220px;
  position: absolute;
  left: 10px;
  top: 84px;
  background: #fff;
  border-radius: 10px;
  z-index: 999999999999;
}
header .box_header .flex_center .box_category .category ul {
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 8px #9b9797;
          box-shadow: 0px 1px 8px #9b9797;
  padding: 5px 8px;
  position: relative;
}
header .box_header .flex_center .box_category .category ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--black-cl);
  padding: 3px 0px;
}
header .box_header .flex_center .box_category .category ul li a .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .box_header .flex_center .box_category .category ul li a .box img {
  width: 25px;
  height: 100%;
}
header .box_header .flex_center .box_category .category ul li a .box p {
  font-size: 13px;
  font-weight: 500;
  padding-left: 5px;
}
header .box_header .flex_center .box_category .category ul li a i {
  font-size: 16px;
  color: #343a40;
}
header .box_header .flex_center .box_category .category ul li .sub-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0px;
  width: 1043px !important;
  z-index: 9999999;
  padding: 0px 30px;
}
header .box_header .flex_center .box_category .category ul li .sub-menu .row {
  background: #fff;
  -webkit-box-shadow: 1px 0px 4px #ccc;
          box-shadow: 1px 0px 4px #ccc;
  border-radius: 10px;
}
header .box_header .flex_center .box_category .category ul li .sub-menu ul {
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  margin-top: 10px;
}
header .box_header .flex_center .box_category .category ul li .sub-menu ul li {
  height: 25px;
}
header .box_header .flex_center .box_category .category ul li .sub-menu ul li a {
  font-size: 12px;
}
header .box_header .flex_center .box_category .category ul li .sub-menu ul li a:hover {
  color: #8a0505;
}
header .box_header .flex_center .box_category .category ul li .sub-menu .menu_item {
  padding: 10px 20px;
}
header .box_header .flex_center .box_category .category ul li .sub-menu .menu_item h3 {
  font-size: 14px;
}
header .box_header .flex_center .box_category .category ul li .sub-menu .row .border_r:nth-child(1), header .box_header .flex_center .box_category .category ul li .sub-menu .row .border_r:nth-child(2) {
  border-right: 1px solid #eee;
}
header .box_header .flex_center .box_category .category .open .sub-menu {
  display: block;
}
header .box_header .flex_center .search {
  width: 80%;
}
header .box_header .flex_center form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .box_header .flex_center form input {
  font-size: 12px;
  height: 40px;
  width: 100%;
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}
header .box_header .flex_center form input:focus-visible {
  outline: none;
}
header .box_header .flex_center form button {
  border: 0px solid #ccc;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 48px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}
header .box_header .flex_center form button i {
  display: block;
  font-size: 20px;
}
header .box_header .flex_center form button:hover {
  background-color: #ccc;
}
header .box_header .flex_right {
  width: 40%;
  max-width: 40%;
}
header .box_header .flex_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .box_header .flex_right ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-cl);
  font-weight: 400;
  font-size: 12px;
}
header .box_header .flex_right ul li a i {
  font-size: 20px;
  color: var(--white-cl);
}
header .box_header .flex_right ul li a p {
  padding-left: 5px;
  line-height: 16px;
}
header .box_header .flex_right ul .login {
  border: 1px solid #000;
  border-radius: 5px;
}
header .box_header .flex_right ul .login a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3px 5px;
}
header .box_header .flex_right ul .login a img {
  width: 20px;
  height: 20px;
}
header .box_header .flex_right ul .login a p {
  font-size: 12px;
  line-height: 12px;
}

.custem_slider .slick-disabled {
  opacity: 0.3;
}
.custem_slider .slick-track {
  min-width: 1200px !important;
}
.custem_slider .slick-next.slick-disabled:before, .custem_slider .slick-prev.slick-disabled:before {
  opacity: 1;
}
.custem_slider .slick-prev {
  left: 10px;
  z-index: 9;
  border: 1px solid #ccc;
  border-radius: 0px 100px 100px 0px;
  -webkit-box-shadow: 1px 0px 4px #ccc;
          box-shadow: 1px 0px 4px #ccc;
  height: 60px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.5803921569);
}
.custem_slider .slick-next {
  right: 8px;
  z-index: 9;
  border: 1px solid #ccc;
  border-radius: 100px 0px 0px 100px;
  -webkit-box-shadow: 1px 0px 4px #ccc;
          box-shadow: 1px 0px 4px #ccc;
  height: 60px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.5803921569);
}
.custem_slider .slick-next:before, .custem_slider .slick-prev:before {
  color: rgba(4, 4, 4, 0.8392156863);
  font-size: 50px;
  opacity: 1;
  line-height: 0;
}
.custem_slider .slick-next:before {
  content: "›";
  padding-left: 5px;
}
.custem_slider .slick-prev:before {
  content: "‹";
  padding-right: 5px;
}

.scroll {
  position: fixed;
  z-index: 10000000000000000000000000000000;
  left: 0px;
  width: 100%;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.banner_main .banner {
  padding: 20px 0px;
}
.banner_main .banner .category {
  width: 20%;
}
.banner_main .banner .banner_slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.5%;
}
.banner_main .banner .banner_slide ul {
  overflow: hidden;
}
.banner_main .banner .banner_slide ul .slick-disabled {
  opacity: 0;
}
.banner_main .banner .banner_slide ul li img {
  border-radius: 10px;
}
.banner_main .banner .banner_slide ul .slick-prev {
  left: 0px;
  z-index: 9;
}
.banner_main .banner .banner_slide ul .slick-next {
  right: 0px;
}
.banner_main .banner .banner_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 21.5%;
}
.banner_main .banner .banner_right ul li {
  padding: 5px 0px;
}
.banner_main .banner .banner_right ul li img {
  width: 100%;
  border-radius: 5px;
}

.banner_bottom img {
  width: 100%;
  border-radius: 5px;
}

.flas_sale {
  margin: 20px 0px;
  padding: 0px 12px;
}
.flas_sale .bg_linear {
  border-radius: 10px;
  padding: 20px 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8a0505), to(#000)) 0% 0%/cover;
  background: linear-gradient(#8a0505, #000) 0% 0%/cover;
}
.flas_sale .bg_linear .title {
  padding-top: 10px;
}
.flas_sale .bg_linear .title h2 {
  font-size: 20px;
  color: var(--white-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.flas_sale .bg_linear .title h2 img {
  -webkit-animation: 0.8s linear 0s infinite normal none running fl-scale;
          animation: 0.8s linear 0s infinite normal none running fl-scale;
}

.box_product {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  padding-bottom: 20px;
  -webkit-box-shadow: 1px 0px 9px #d8d0d0;
          box-shadow: 1px 0px 9px #d8d0d0;
  margin: 10px;
}
.box_product .img {
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-height: 241px;
  min-height: 241px;
}
.box_product .img .temp {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 8px 2px 25px;
  height: 26px;
  background-color: #ea6423;
  position: absolute;
  left: 5px;
  bottom: 0;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px -5px #333;
          box-shadow: 1px 1px 10px -5px #333;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
}
.box_product .img .sphot {
  background-color: #d33;
}
.box_product .img .sphot::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: -5px;
  bottom: 0px;
  background-image: url(../images/icon-giam-gia.png);
  background-size: cover;
}
.box_product .img .spbanchay {
  background-color: #8224e3;
}
.box_product .img .spbanchay::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: -5px;
  bottom: 0px;
  background-size: cover;
  background-image: url(../images/icon-ban-chay.png);
}
.box_product .img img {
  width: 100%;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}
.box_product .title h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: #444;
  position: relative;
  white-space: unset;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box_product .title h3 a {
  color: #444;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.box_product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}
.box_product .price span {
  color: #707070;
  padding-left: 15px;
  text-decoration: line-through;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}
.box_product .price span bdi {
  position: absolute;
  right: -8px;
  top: -3px;
  font-size: 13px;
  text-decoration: line-through;
}
.box_product .price p {
  font-size: 16px;
  font-weight: 700;
  color: #d70018;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0;
  display: inline-block;
  position: relative;
}
.box_product .price p bdi {
  position: absolute;
  right: -8px;
  top: -3px;
  font-size: 13px;
}
.box_product .star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
}
.box_product .star-rating i {
  font-size: 12px;
  color: #f0a20a;
}
.box_product .flash-sale-process {
  background: -webkit-gradient(linear, left top, right top, from(#f02517), to(#ffb000)) 0% 0%/cover;
  background: linear-gradient(to right, #f02517, #ffb000) 0% 0%/cover;
  border-radius: 5px;
  position: relative;
  padding: 3px 0px;
  margin: 10px 0px;
}
.box_product .flash-sale-process .text {
  display: block;
  text-align: center;
  font-size: 13px;
  color: var(--white-cl);
}
.box_product .flash-sale-process .icon_hot {
  position: absolute;
  top: -7px;
  left: 3px;
}
.box_product .flash-sale-process .icon_hot img {
  width: 20px;
}
.box_product .flash-sale-process .flash-sale-complete-wapper {
  position: absolute;
  height: 100%;
  width: 30%;
  right: 0px;
  top: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffbda6;
  opacity: 0.5;
}
.box_product .product-attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box_product .product-attribute i {
  font-size: 10px;
  color: var(--red);
}
.box_product .product-attribute p {
  padding-left: 3px;
  font-size: 12px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lock_smart .box_product .title {
  margin: 10px 0px 0px 0px;
}

.home_title {
  margin: 50px 0px 30px 0px;
}
.home_title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}
.home_title h2 span {
  font-size: 22px;
  font-weight: 600;
}
.home_title h2 .sub_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home_title h2 .sub_title .tab, .home_title h2 .sub_title .view_more {
  background-color: #f3f4f6;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #e5e7eb;
}
.home_title h2 .sub_title .tab a, .home_title h2 .sub_title .view_more a {
  color: rgba(68, 68, 68, 0.7882352941);
  font-weight: 400;
  font-size: 13px;
}
.home_title h2 .sub_title .tab:hover, .home_title h2 .sub_title .view_more:hover {
  background-color: var(--xanhnuocbien);
}
.home_title h2 .sub_title .tab:hover a, .home_title h2 .sub_title .view_more:hover a {
  color: var(--white-cl);
}
.home_title h2 .sub_title .view_more a {
  text-transform: capitalize;
  font-size: 13px;
}

.accessory .slick-next {
  right: 4px;
}
.accessory .slick-prev, .accessory .slick-next {
  height: 45px;
  width: 25px;
}
.accessory .slick-next:before, .accessory .slick-prev:before {
  font-size: 34px;
}
.accessory .box {
  border-radius: 5px;
  -webkit-box-shadow: 1px 0px 6px #ccc;
          box-shadow: 1px 0px 6px #ccc;
  padding: 10px;
  background-color: #3d8dc9;
  margin: 0px 10px;
}
.accessory .box h5 {
  color: var(--white-cl);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px;
  text-align: center;
}
.accessory .box .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.accessory .box .img img {
  width: 50px;
}

.special_offer .img img {
  border-radius: 10px;
  width: 100%;
}

.news_home .box {
  border: 2px solid #dedede;
  border-radius: 10px;
  margin: 0px 5px;
}
.news_home .box .img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.news_home .box .content {
  padding: 10px 10px 20px 10px;
}
.news_home .box .content .title {
  padding: 5px 0px 10px 0px;
}
.news_home .box .content .title h4 {
  font-size: 14px;
  height: 35px;
}
.news_home .box .content .title h4 a {
  color: var(--black-cl);
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news_home .box .content .title h4 a:hover {
  color: rgba(68, 68, 68, 0.7882352941);
}
.news_home .box .content .text p {
  font-size: 12px;
  text-align: justify;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  padding: 40px 0px 0px 0px;
}
footer .footer_addres .box {
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  padding: 20px 10px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 1px 0px 3px rgba(204, 204, 204, 0.631372549);
          box-shadow: 1px 0px 3px rgba(204, 204, 204, 0.631372549);
}
footer .footer_addres .box .title {
  padding-bottom: 20px;
}
footer .footer_addres .box .title h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
}
footer .footer_addres .box .title h3::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 30%;
  bottom: 0px;
}
footer .footer_addres .box ul li {
  padding-bottom: 3px;
}
footer .footer_addres .box ul li span {
  font-weight: 600;
  font-size: 14px;
}
footer .footer_addres .box ul li .list_addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
footer .footer_addres .box ul li .list_addres a {
  color: #000;
  font-size: 12px;
}
footer .footer_addres .box ul li .list_addres i {
  font-size: 12px;
}
footer .footer_menu {
  padding: 30px 0px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}
footer .footer_menu .box .title {
  padding: 10px 0px;
}
footer .footer_menu .box .title h4 {
  font-size: 16px;
  text-transform: uppercase;
}
footer .footer_menu .box ul li {
  padding: 3px 0px;
}
footer .footer_menu .box ul li a {
  color: #000;
  font-size: 14px;
}
footer .footer_menu .box ul li a i {
  padding-right: 3px;
  font-size: 10px;
}
footer .footer_menu .box ul li a:hover {
  color: #3d8dc9;
}
footer .footer_menu .box .list_netword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footer_menu .box .list_netword li {
  padding: 0px 5px;
}
footer .footer_menu .box .list_netword li img {
  width: 30px;
  height: 30px;
}
footer .footer_menu .box .thongbao {
  padding-top: 20px;
}
footer .footer_menu .box .thongbao .title h5 {
  font-size: 14px;
  text-transform: uppercase;
}
footer .footer_menu .box .thongbao .img img {
  width: 100px;
}
footer .footer_menu .box .thongbao .text li {
  font-size: 12px;
}
footer .footer_bottom {
  background-color: #333;
}
footer .footer_bottom .box {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_bottom .box p {
  font-size: 13px;
  text-align: center;
  color: #fff;
}

.button_scrool {
  position: fixed;
  bottom: 50px;
  right: 20px;
}
.button_scrool button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 0px 3px #ccc;
          box-shadow: 1px 0px 3px #ccc;
  background-color: #fff;
}
.button_scrool button:hover {
  background-color: var(--mauhong);
}
.button_scrool .bt_zalo, .button_scrool .bt_fb {
  margin-top: 10px;
}
.button_scrool .bt_zalo img, .button_scrool .bt_fb img {
  width: 45px;
  height: 45px;
  -webkit-animation: pulse-blue 2s infinite;
          animation: pulse-blue 2s infinite;
  background-color: #028fe3;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 #028fe3;
          box-shadow: 0 0 0 0 #028fe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.hotline-phone-ring-wrap .hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-wrap .hotline-phone-ring .hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-wrap .hotline-phone-ring .hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-wrap .hotline-phone-ring .hotline-phone-ring-img-circle {
  background-color: #e60808;
  width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 30px;
  border-radius: 100%;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hotline-phone-ring-wrap .hotline-phone-ring .hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-wrap .hotline-phone-ring .hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}
.hotline-phone-ring-wrap .hotline-bar {
  position: absolute;
  background: rgba(230, 8, 8, 0.75);
  height: 40px;
  width: 170px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  left: 33px;
  bottom: 37px;
}
.hotline-phone-ring-wrap .hotline-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  text-indent: 40px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
}

.menu_mobile {
  display: none;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1268px !important;
  }
}
@media (max-width: 1024px) {
  header .box_header .flex_right {
    width: 10%;
  }
  header .box_header .flex_right .phone, header .box_header .flex_right .maps, header .box_header .flex_right .tracuu, header .box_header .flex_right .login {
    display: none;
  }
  header .box_header .flex_right ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .box_header .flex_right ul li p {
    display: none;
  }
  header .box_header .flex_center {
    width: 70%;
    max-width: 70%;
  }
  header .box_header .flex_center .box_category {
    display: none;
  }
  header .box_header .flex_center .search {
    width: 100%;
  }
  header .box_header .logo {
    width: 15%;
    max-width: 15%;
  }
  .banner_main .banner .category {
    display: none;
  }
  .banner_main .banner .banner_slide {
    width: 73%;
  }
  .banner_main .banner .banner_right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 27%;
  }
  .home_title h2 .sub_title .tab a, .home_title h2 .sub_title .view_more a {
    font-size: 11px;
  }
  .menu_mobile {
    display: block;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: var(--xanhnuocbien);
    z-index: 999;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_mobile ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu_mobile ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--white-cl);
  }
  .menu_mobile ul a span {
    font-size: 14px;
    padding-top: 5px;
  }
  .menu_mobile ul a i {
    font-size: 25px;
  }
  .menu_mobile .category_mb {
    position: fixed;
    top: 64px;
    bottom: calc(0% - 60px);
    left: 0;
    width: 100%;
    z-index: 999999;
    height: calc(100% - 134px);
    background-color: #fff;
    display: none;
  }
  .menu_mobile .category_mb .bg_tab::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
  }
  .menu_mobile .category_mb .bg_tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-y: scroll;
    min-width: 83px;
    max-width: 83px;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(1) {
    background-color: #fee2e2;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(1) button {
    background-color: #fee2e2;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(2) {
    background-color: #ffedd5;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(2) button {
    background-color: #ffedd5;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(3) {
    background-color: #fef9c3;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(3) button {
    background-color: #fef9c3;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(4) {
    background-color: #ecfccb;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(4) button {
    background-color: #ecfccb;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(5) {
    background-color: #d1fae5;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(5) button {
    background-color: #d1fae5;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(6) {
    background-color: #ccfbf1;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(6) button {
    background-color: #ccfbf1;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(7) {
    background-color: #e0f2fe;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(7) button {
    background-color: #e0f2fe;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(8) {
    background-color: #ede9fe;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(8) button {
    background-color: #ede9fe;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(9) {
    background-color: #ccfbf1;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(9) button {
    background-color: #ccfbf1;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(10) {
    background-color: #fae8ff;
  }
  .menu_mobile .category_mb .bg_tab li:nth-child(10) button {
    background-color: #fae8ff;
  }
  .menu_mobile .category_mb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu_mobile .category_mb ul li {
    height: 80px;
    width: 80px;
    position: relative;
  }
  .menu_mobile .category_mb ul li button.active::after {
    content: "";
    position: absolute;
    right: 0px;
    width: 10px;
    height: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
  }
  .menu_mobile .category_mb ul li button {
    height: 80px;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_mobile .category_mb ul li button img {
    width: 30px;
    height: 30px;
  }
  .menu_mobile .category_mb ul li button p {
    font-weight: 400;
    color: #000;
  }
  .menu_mobile .category_mb .tab-content {
    width: 100%;
    padding: 10px;
    -webkit-box-shadow: -1px 0px 3px #a9a3a3;
            box-shadow: -1px 0px 3px #a9a3a3;
    z-index: 9;
  }
  .menu_mobile .category_mb .tab-content ul {
    width: 100%;
  }
  .menu_mobile .category_mb .tab-content ul li {
    width: 100%;
  }
  .menu_mobile .category_mb .tab-content ul li .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
  }
  .menu_mobile .category_mb .tab-content ul li .title a {
    color: #000;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item h5 {
    padding: 10px 0px;
    width: 100%;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item .box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item a {
    color: #000;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 3px #ccc;
            box-shadow: 1px 0px 3px #ccc;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
  }
  .menu_mobile .open_tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .button_scrool {
    bottom: 80px;
  }
}
@media (max-width: 500px) {
  .banner_main .banner .banner_slide {
    width: 100%;
  }
  .banner_main .banner .banner_right {
    display: none;
  }
  .home_title h2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-transform: uppercase;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_title h2 span {
    padding-bottom: 15px;
    font-size: 20px;
  }
  .special_offer .img {
    padding: 10px 0px;
  }
  .menu_mobile ul a i {
    font-size: 18px;
  }
  .menu_mobile ul a span {
    font-size: 12px;
  }
  .menu_mobile .category_mb ul li button p {
    font-size: 12px;
  }
  .menu_mobile .category_mb .tab-content {
    width: calc(100% - 80px);
    overflow-y: auto;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item {
    overflow: auto;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item h5 {
    font-size: 13px;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item .box {
    width: 100%;
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    overflow: scroll;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item .box a {
    width: 150px;
    margin-right: 5px;
  }
  .menu_mobile .category_mb .tab-content ul li .box_item .firm a {
    width: 90px;
  }
  .menu_mobile .category_mb .tab-content ul li .title h2 {
    font-size: 13px;
  }
  .menu_mobile .category_mb .tab-content ul li .title a {
    font-size: 12px;
  }
  .accessory .box h5 {
    color: var(--white-cl);
    font-size: 11px;
    font-weight: 400;
    padding-bottom: 15px;
    text-align: center;
  }
  .hotline-phone-ring-wrap {
    bottom: 51px;
  }
  .hotline-phone-ring-wrap .hotline-bar {
    display: none;
  }
}