body {
    padding-top: 0 !important;
}

.banner_main .banner .banner_slide ul li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header .box_header .flex_center .box_category .category ul li .sub-menu {
    height: 500px;
    overflow: auto;
}

header .box_header .flex_right ul.new-top-mobile-menu {
    display: none;
}

.row.az-ft-link.ft-link-row-1 .last-child-col .title {
    padding-bottom: 30px;
}

.ft-link-row-2 .content ul li a {
    color: #fff;
    font-size: 13px;
}

#load-data {
    display: none;
}

ul.list-social li i.fa-facebook {
    border-color: #3B5996;
    color: #3B5996;
}

footer .bg-ft-link .az-ft-link .list-social li i.fa-facebook {
    border-color: #3B5996;
    color: #3B5996;
}

.box_product .img .product-img-frame{
    position: absolute;
    top: 0;
    left: 0;
}

.box_product .img .product-img-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.aml_pb-bottom-left.mobile {
    bottom: 75px !important;
}

.single-product-block {
    box-shadow: 0 1px 14px rgba(0,0,0,.16);
    padding: 20px;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.single-product-block .single-product-image {
    max-width: 250px;
}

.single-product-block .single-product-image img {
    width: 100%;
}

.single-product-block .single-product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.single-product-block .single-product-content .single-product-category {
    color: #00ade5;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    display: inline-block;
}

.single-product-block .single-product-content .single-product-name {
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    font-size: 16px;
    width: 100%;
    line-height: 1.2;
}

.single-product-block .single-product-content .single-product-desc {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.single-product-block .single-product-content .single-product-button {
    border: 1px solid #00ade5;
    padding: 10px 20px;
    border-radius: 35px;
    overflow: hidden;
    display: inline-block;
    color: #00ade5;
    width: fit-content;
}

.single-product-block .single-product-content .single-product-button:hover {
    background: rgba(0, 174, 213, .08);
    transition: all .2s;
}

.sale-countdown-timer {
    font-size: 13px;
    color: #7300ff;
    font-weight: bold;
}

.product-attributes {
    display: flex;
    gap: 5px;
    margin: 5px 0;
    flex-wrap: wrap;
}

.product-attributes span {
    display: block;
    font-size: 12px;
    /*border: 1px solid #d1d5db;*/
    border: 1px solid var(--xanhnuocbien);
    color: var(--xanhnuocbien);
    border-radius: 5px;
    padding: 3px 5px;
}

@media (max-width: 1024px) {
    .menu_mobile .category_mb ul li {
        height: auto;
        padding: 10px 0;
    }

    header .box_header .flex_right ul.new-top-mobile-menu {
        display: flex;
        justify-content: flex-end;
    }

    header .box_header .flex_right ul.new-top-menu {
        display: none;
    }

    header .box_header .flex_right ul li a img {
        width: 35px;
    }

}

@media (max-width: 765px) {
    .single-product-block {
        flex-direction: column;
    }

    .single-product-block .single-product-image img {
        width: 65%;
    }

    .single-product-block .single-product-image {
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }

    .product-attributes span {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    header .box_header .flex_right ul li a img {
        width: 30px;
    }
}

