@import "reset";

@keyframes fl-scale{
    50% {
        opacity: .3;
        transform: scale(1.3);
    }
}
@keyframes scroll{
    0%{
        top: -100px;
    }
    50%{
        top: -50px;
    }
    100%{
        top:0px;
    }
}
@keyframes pulse-blue{
    0% {
        box-shadow: 0 0 0 0 rgba(2,143,227,.7);
        transform: scale(.95);
    }70% {
        box-shadow: 0 0 0 10px rgba(2,143,227,0);
        transform: scale(1);
    }100% {
        box-shadow: 0 0 0 0 rgba(2,143,227,0);
        transform: scale(.95);
    }
}
@keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1;
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5;
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1;
    }
}
@keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .6;
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .6;
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .6;
    }
}
@keyframes phonering-alo-circle-img-anim  {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}
:root {
    --red:red;
    --red-cl: #fecda5;
    --white-cl: #fff;
    --primary-cl: #ffd401;
    --red-d: #8a0505;
    --black-cl: #000;
    --gray-cl: #e1e1e1;
    --xanhnuocbien: #3d8dc9;
    --mauhong: #ffbebe;
}
.az-col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
.other-box {
    --red: pink;
    background-color: var(--red);
}

.bg_black {
    background-color: var(--black-cl);
}

.bg_blue {
    background-color: var(--xanhnuocbien);
}

.bg_red {
    background-color: var(--red-d);
}
.bg_primary{
    background-color: var(--xanhnuocbien);
}
.pd_12{
    padding: 0px 12px;
}
.none{
    opacity: 0.6;
    background-color: #000;
}
.body-overlay{
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: visibility .3s, opacity .3s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 29;
}
.none{
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, .7);
}
header{
    height: 64px;
    transition: .3s ease;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 9999999999999999999;
    opacity: 1;
    .box_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        position: relative;
        .logo{
            width: 10%;
            max-width: 10%;
            flex: 10% 10% 10%;
            img{
                width: 100%;
            }
        }
        .flex_center{
            width: 50%;
            max-width: 50%;
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .box_category{
                border: 1px solid #fff;
                border-radius: 5px;
                padding: 10px 5px;
                width: 18%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                i{
                    padding-right: 5px;
                    color: var(--white-cl);
                }
                span{
                    font-size: 12px;
                    color: var(--white-cl);
                }
                .category{
                    flex: 0 0 auto;
                    width: 220px;
                    position: absolute;
                    left: 12px;
                    top: 84px;
                    background: #fff;
                    border-radius: 10px;
                    z-index: 999999999999;
                    ul{
                        border-radius: 10px;
                        box-shadow: 0px 1px 8px #9b9797;
                        padding: 5px 8px;
                        position: relative;
                        li{
                            a{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                color: var(--black-cl);
                                padding: 3px 0px;
                                .box{
                                    img{
                                        width: 25px;
                                        height: 100%;
                                    }
                                    display: flex;
                                    align-items: center;
                                    p{
                                        font-size: 13px;
                                        font-weight: 500;
                                        padding-left: 5px;
                                    }
                                }
                                i{
                                    font-size: 16px;
                                    color: #343a40;
                                }
                            }
                            .sub-menu {
                                display: none;
                                position: absolute;
                                left: 97%;
                                top: 0px;
                                width: calc(1268px - 222px) !important;
                                z-index: 9999999;
                                padding: 0px 30px;
                                .row{
                                    background: #fff;
                                    box-shadow: 1px 0px 4px #ccc;
                                    border-radius: 10px;
                                }
                                ul{
                                    box-shadow: 0px 0px 0px;
                                    margin-top: 10px;
                                    li{
                                        height: 25px;
                                        a{
                                            font-size: 12px;
                                        }
                                        a:hover{
                                            color: #8a0505;
                                        }
                                    }
                                }
                                .menu_item{
                                    padding: 10px 20px;
                                    h3{
                                        font-size: 14px;
                                    }
                                }
                                .row .border_r:nth-child(1), .row .border_r:nth-child(2){
                                    border-right: 1px solid #eee;
                                }
                            }
                        }
                        .category_item:hover{
                            p,i{
                                color: var(--xanhnuocbien);
                            }
                        }
                    }
                    .open{
                        .sub-menu{
                            display: block;
                        }
                    }
                }
            }
            .search{
                width: 80%;
                position: relative;
                .load-data{
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 15px 5px;
                    max-height: 400px;
                    overflow-y: scroll;
                    li{
                        margin-bottom: 10px;
                    }
                    .box_pr{
                        background-color: #fff;
                        display: flex;
                        .img{
                            width: 16%;
                            padding: 0px 10px;
                        }
                        .content{
                            width: 83%;
                            .title{
                                h2{
                                    font-size: 14px;
                                    color: #333;
                                }
                            }
                            .price{
                                display: flex;
                                align-items: center;
                                margin-top: 5px;
                                p{
                                    font-size: 13px;
                                    color: var(--red);
                                }
                                span{
                                    color: #858584;
                                    padding-left: 5px;
                                    text-decoration: line-through;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                .load-data::-webkit-scrollbar{
                    width: 0px;
                    background-color: var(--xanhnuocbien);
                }
            }
            form{
                display: flex;
                align-items: center;
                border: 1px solid var(--xanhnuocbien);
                border-radius: 5px;
                input{
                    font-size: 12px;
                    height: 40px;
                    width: 100%;
                    border: 0px ;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    padding-left: 10px;
                }
                input:focus-visible {
                    outline: none ;
                }
                button{
                    border: 0px solid #ccc;
                    height: 40px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    width: 48px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px;
                    i{
                        display: block;
                        font-size: 20px;
                    }
                }
                button:hover{
                    background-color: #ccc;
                }
            }
        }
        .flex_right{
            width: 40%;
            max-width: 40%;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                li{
                    a{
                        display: flex;
                        align-items: center;
                        color: var(--white-cl);
                        font-weight: 400;
                        font-size: 12px;
                        img{
                            width: 23px;

                        }
                        i{
                            font-size: 20px;
                            color: var(--white-cl);
                        }
                        p{
                            padding-left: 5px;
                            line-height: 16px;
                        }
                    }
                    
                }
                .tracuu{
                    img{
                        width: 35px;
                    }
                }
                .contact{
                    border-radius: 5px;
                    a{
                        padding: 3px 5px;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                        p{
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
                
            }
            
        }
    }
    
}
.custem_slider{
    .slick-disabled{
        opacity: 0.3;
    }
    .slick-track{
        min-width: 1200px !important;
    }
    .slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
        opacity: 1;
    }
    .slick-prev {
        left: 10px;
        z-index: 9;
        border: 1px solid #ccc;
        border-radius: 0px 100px 100px 0px;
        box-shadow: 1px 0px 4px #ccc;
        height: 60px;
        width: 30px;
        background-color: #ffffff94;
    }
    .slick-next {
        right: 8px;
        z-index: 9;
        border: 1px solid #ccc;
        border-radius: 100px 0px 0px 100px;
        box-shadow: 1px 0px 4px #ccc;
        height: 60px;
        width: 30px;
        background-color: #ffffff94;
    }
    .slick-next:before, .slick-prev:before {
        color: #040404d6;
        font-size: 50px;
        opacity: 1;
        line-height: 0;
    }
    .slick-next:before {
        content: '›';
        padding-left: 5px;
    }
    
    .slick-prev:before {
        content: '‹';
        padding-right: 5px;
        
    }
}
.scroll{
    position: fixed;
    z-index: 9999999999999999999999999999999;
    left: 0px;
    width: 100%;
    animation-name: scroll;
    animation-duration: 0.5s;
}
.banner_main{
    .banner{
        padding: 20px 0px;
        .category{
            width: 20%;
        }
        .banner_slide{
            flex: 0 0 auto;
            width: 58.5%;
            padding-left: 0px;
            padding-right: 0px;
            ul{
                overflow: hidden;
                .slick-disabled{
                    opacity: 0;
                }

                li{
                    img{
                        border-radius: 10px;
                    }
                }
                .slick-prev{
                    left: 0px;
                    z-index: 9;
                }
                .slick-next {
                    right: 0px;
                }
                
            }
        }
        .banner_right{
            flex: 0 0 auto;
            width: 21.5%;
            ul{
                li{
                    padding: 5px 0px;
                    img{
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
.banner_bottom{
    img{
        width: 100%;
        border-radius: 5px;
    }
}
.flas_sale{
    margin: 20px 0px;
    padding: 0px 12px;
    .bg_linear{ 
        border-radius: 10px;
        padding: 20px 10px;
        background: linear-gradient(#8a0505,#000) 0% 0%/cover;
        .title{
            padding-top: 10px;
            h2{
                font-size: 20px;
                color:var(--white-cl);
                display: flex;
                align-items: center;
                text-transform: uppercase;
                padding-bottom: 20px;
                img{
                    animation:.8s linear 0s infinite normal none running fl-scale;
                }
            }
        }
    }
}
.box_product{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 1px 0px 9px #d8d0d0;
    margin: 10px;
    .img{
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        .temp{
            font-size: 10px;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            padding: 2px 8px 2px 25px;
            height: 26px;
            background-color: #ea6423;
            position: absolute;
            left: 5px;
            bottom: 0;
            border-radius: 20px;
            box-shadow: 1px 1px 10px -5px #333;
            z-index: 1;
            align-items: center;
            display: grid;
        }
        .sphot{
            background-color: #d33;
        }
        .sphot::before{
            content: "";
            width: 26px;
            height: 26px;
            position: absolute;
            left: -5px;
            bottom: 0px;
            background-image: url(../images/icon-giam-gia.png);
            background-size: cover;
        }
        .spbanchay{
            background-color: #8224e3;
        }
        .spbanchay::before{
            content: "";
            width: 26px;
            height: 26px;
            position: absolute;
            left: -5px;
            bottom: 0px;
            background-size: cover;
            background-image: url(../images/icon-ban-chay.png);
        }
        img{
            width:100% ;
        }
    }
    .title{
        margin-top: 5px;
        h3{
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            color: #444;
            position: relative;
            white-space: unset;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            
            a{
                color: #444;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
    .price{
        display: flex;
        align-items: center;
        height: 32px;
        span{
            color: #707070;
            padding-left: 15px;
            text-decoration: line-through;
            font-weight: 600;
            font-size: 14px;
            position: relative;
            bdi{
                position: absolute;
                right: -8px;
                top: -3px;
                font-size: 13px;
                text-decoration: line-through;
            }
        }
        p{
            font-size: 16px;
            font-weight: 700;
            color: #d70018;
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 0;
            display: inline-block;
            position: relative;
            bdi{
                position: absolute;
                right: -8px;
                top: -3px;
                font-size: 13px;
            }
            
        }
    }
    .star-rating{
        display: flex;
        align-items: center;
        padding: 5px 0px;
        i{
            font-size: 12px;
            color: #f0a20a;
        }
    }
    .flash-sale-process{
        background: linear-gradient(to right,#f02517, #ffb000) 0% 0% / cover;
        border-radius: 5px;
        position: relative;
        padding: 3px 0px;
        margin: 10px 0px;
        .text{
            display: block;
            text-align: center;
            font-size: 13px;
            color: var(--white-cl);
        }
        .icon_hot {
            position: absolute;
            top: -7px;
            left: 3px;
            img{
                width: 20px;
            }
        }
        .flash-sale-complete-wapper{
            position: absolute;
            height: 100%;
            width: 30%;
            right: 0px;
            top: 0px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: #ffbda6;
            opacity: 0.5;
        }
    }
    .product-attribute{
        display: flex;
        align-items: center;
        i{
            font-size: 10px;
            color: var(--red);
        }
        p{
            padding-left: 3px;
            font-size: 12px;
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
.lock_smart{
    .box_product{
        .title{
            margin: 10px 0px 0px 0px;
        }
    }
}
.home_title{
    margin: 15px 0px 30px 0px;
    h2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        span{
            font-size: 22px;
            font-weight: 600;
        }
        .sub_title{
            display: flex;
            align-items: center;
            .tab, .view_more{
                background-color: #fff;
                padding: 5px 10px;
                border-radius: 5px;
                margin-right: 10px;
                border: 1px solid var(--xanhnuocbien);
                a{
                    color: var(--xanhnuocbien);
                    font-weight: 400;
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    i{
                        font-size: 12px;
                        color: var(--xanhnuocbien);
                        padding-left: 3px;
                    }
                }
            }
            .tab:hover, .view_more:hover{
                background-color: var(--xanhnuocbien);
                a{
                    color: var(--white-cl);
                }
                i{
                    color: var(--white-cl); 
                }
            }
            .view_more{
                a{
                    text-transform: capitalize;
                    font-size: 13px;
                }

            }
        }
    }
}
.accessory{
    margin-bottom: 30px;
    .slick-next {
        right: 4px;
       
    }
    .slick-prev,.slick-next{
        height: 45px;
        width: 25px;
    }
    .slick-next:before,.slick-prev:before {
        font-size: 34px;
    }
    .box {
        border-radius: 5px;
        box-shadow: 1px 0px 6px #ccc;
        padding: 0px;
        margin: 0px 10px;
        border-radius: 38px;
        h5{
            color: var(--white-cl);
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 15px;
            text-align: center;

        }
        .img{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            img{
                width: 100%;
            }
        }
    }

    
}
.special_offer{
    .img{
        img{
            border-radius: 10px;
            width: 100%;
        }
    }
}
.news_home{
    .box{
        border: 2px solid #dedede;
        border-radius: 10px;
        margin: 0px 5px;
        .img{
            img{
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                min-height: 188px;
                max-height: 188px;
            }
        }
        .content{
            padding: 10px 10px 20px 10px;
            .title{
                padding: 5px 0px 10px 0px;
                h4{
                    font-size: 14px;
                    height: 35px;
                    a{
                        color: var(--black-cl);
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    a:hover{
                        color: #444444c9;
                    }
                }
            }
            .text{
                p{
                    font-size: 12px;
                    text-align: justify;
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}
footer{
    position: relative;
    .az-ft-contact {
        padding-top: 50px;
        padding-bottom: 50px;
        .ft-left {
            position: relative;
            padding-left: 70px;
            .title{
                h4 {
                    font-size: 16px;
                    color: #333;
                }
            }
            .subtitle{
                span{
                    font-size: 14px;
                    color: #333;
                }
            }
        }
        .ft-left:before {
            content: "";
            position: absolute;
            background-image: url(../images/icon-contact-ft.svg);
            width: 50px;
            height: 50px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .ft-right{
            form {
                position: relative;
            }
            .input-email {
                width: 100%;
                position: absolute;
                height: 40px;
                padding-left: 15px;
                outline: none;
                border-radius: 5px;
                border: none;
                box-shadow: 0 0 10px #ccc;
            }
            .input-submit{
                position: absolute;
                right: 0;
                height: 40px;
                width: 150px;
                background-color: #D11E26;
                outline: none;
                border: none;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    .bg-ft-box {
        background-color: #D11E26;
        .az-ft-box {
            padding-top: 25px;
            padding-bottom: 30px;
            .box {
                position: relative;
                padding-left: 85px;
            }
            .box:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            .box-content-1:before {
                background-image: url(../images/baove.svg);
                width: 55px;
                height: 65px;
            }
            .box-content-2:before {
                background-image: url(../images/xeday.svg);
                width: 73px;
                height: 64px;
            }
            .box-content-3:before {
                background-image: url(../images/call.svg);
                width: 55px;
                height: 55px;
            }
            .title h4 {
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .subtitle span {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    .bg-ft-link {
        background-color: #3D8DC9;
        .az-ft-link {
            padding-top: 30px;
            padding-bottom: 30px;
            h4 {
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                position: relative;
                margin-bottom: 10px;
            }
            ul.list-link{
                li {
                    padding-bottom: 10px;
                    font-size: 13px;
                    color: #fff;
                    padding-left: 10px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    i{
                        padding-right: 3px;
                        font-size: 10px;
                    }
                    a {
                        color: #fff;
                        font-size: 13px;
                    }
                }
                
            }
            .list-social{
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                li{
                    padding-right: 10px;
                    img{
                        width: 30px;
                    }
                }
            }
        }
        .ft-link-row-2{
            ul{
                li{
                    padding-bottom: 10px;
                    font-size: 13px;
                    color: #fff;
                    padding-left: 10px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    i{
                        font-size: 10px;
                        padding-right: 3px;
                    }
                }
            }
        }
    }
    .az-ft-copyright {
        padding-top: 15px;
        padding-bottom: 15px;
        .text-right {
            text-align: right !important;
        }
        ul.list-img-note {
            list-style: none;
            padding-left: 0;
            margin: 0;
             li {
                display: inline-block;
            }
        }
        .content {
            width: 74%;
             span {
                font-size: 12px;
                color: #333;
            }
        }
    }
}
.button_scrool {
    position: fixed;
    bottom: 50px;
    right: 20px;
    button{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #ccc;
        box-shadow: 1px 0px 3px #ccc;
        background-color: #fff;
        i{
            font-size: 26px;
        }
    }
    button:hover{
        background-color: var(--xanhnuocbien);
        i{
            color: #fff;
        }
    }
    .bt_zalo, .bt_fb {
        margin-top: 10px;
        img {
            width: 45px;
            height: 45px;
            animation: pulse-blue 2s infinite;
            background-color: #028fe3;
            border-radius: 50%;
            box-shadow: 0 0 0 0 #028fe3;
            display: flex;
            overflow: hidden;
            transform: scale(1);
        }
    }
}
.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    .hotline-phone-ring {
        position: relative;
        visibility: visible;
        background-color: transparent;
        width: 110px;
        height: 110px;
        cursor: pointer;
        z-index: 11;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transition: visibility .5s;
        left: 0;
        bottom: 0;
        display: block;
        .hotline-phone-ring-circle {
            width: 85px;
            height: 85px;
            top: 10px;
            left: 10px;
            position: absolute;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #e60808;
            -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            opacity: .5;
        }
        .hotline-phone-ring-circle-fill {
            width: 55px;
            height: 55px;
            top: 25px;
            left: 25px;
            position: absolute;
            background-color: rgba(230, 8, 8, .7);
            border-radius: 100%;
            border: 2px solid transparent;
            -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
        .hotline-phone-ring-img-circle {
            background-color: #e60808;
            width: 33px;
            height: 33px;
            top: 37px;
            left: 37px;
            position: absolute;
            background-size: 30px;
            border-radius: 100%;
            -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
            .pps-btn-img {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                 img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .hotline-bar {
        position: absolute;
        background: rgba(230, 8, 8, .75);
        height: 40px;
        width: 170px;
        line-height: 40px;
        border-radius: 3px;
        padding: 0 10px;
        background-size: 100%;
        cursor: pointer;
        transition: all .8s;
        -webkit-transition: all .8s;
        z-index: 9;
        box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.1);
        border-radius: 50px !important;
        left: 33px;
        bottom: 37px;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            text-indent: 40px;
            display: block;
            letter-spacing: 1px;
            line-height: 40px;
        }
    }
}
.menu_mobile{
    display: none;
}


















@import "reponsive";